<form name="form{{num}}" id="form{{num}}" class="marginform" ng-class="{hideinp: view}">
   <div class="stats-wrap"> 
    <label class="form-label">{{title}} </label>  

    <p class="sub">{{subtitle}}</p> 
       <span class="small-stats" id="stats{{num}}">
           {{q}}/{{q_all}}
       </span>    
   </div>
    

    <div class="wrap" id="wrap{{num}}">

        <textarea name="txt{{num}}" id="txt{{num}}" ng-keydown="match_pattern($event)" placeholder="{{placeholder}}" class="form-textarea" ng-focus="pretty_validate($event)" ng-change="check_empty(true)" ng-model="val"></textarea>
        <input name="inp{{num}}" id="inp{{num}}" ng-class="{sm_placeholder: placeholder.length > 50}" ng-keydown="match_pattern($event)" ng-focus="pretty_validate($event)" ng-change="check_empty()" ng-model="val" class="form-input" ng-click="exp_name()" placeholder="{{placeholder}}" />
        <div class="long-p">
            <p class="longp-text">{{placeholder}}</p>
        </div>
         <div class="nameinp" id="ni{{num}}">
            <input name="1ainp{{num}}" class="ninp form-input" id="1ainp{{num}}" ng-keydown="match_pattern($event)" ng-focus="pretty_validate($event)" ng-change="check_empty()" ng-model="f_n" placeholder="First Name" />
            <input name="2ainp{{num}}" class="ninp form-input" id="2ainp{{num}}" ng-keydown="match_pattern($event)" ng-focus="pretty_validate($event)" ng-change="check_empty()" ng-model="l_n" placeholder="Last Name" />
        </div>
      
         <div class="big-input-meter" id="meter{{num}}"></div>

        <label id="f{{num}}" class="label-wrap">
            <span>{{placeholder}}</span>
            <input type="file" name="f{{num}}" id="f_inp{{num}}">
        </label>


        <div class="input-drop" id="ad{{num}}">
            <input class="form-input repeat{{num}} inp-focus" ng-change="sm_validate()" 
                  
                   ng-model="vals2" id="d_inp{{$index}}" ng-repeat="item in items track by $index" placeholder={{drop_placeholders[$index]}} />

        </div>

        <div class="pretty-dropdown" id="drop{{num}}">
            <div class="cell" ng-click="select_items($event)" ng-repeat="value in values">
                {{value}} 
                <span class="big-check-container">
                    <svg version="1.1" id="b{{num}}{{$index}}" class="big-check" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="75px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                        <path fill="none" stroke="#fff" stroke-linecap="round" stroke-width="5" stroke-miterlimit="5" id="checkmark" d="M41.8,18.4L24.061,35.045l-1.838,1.524c-1,1-2.049,0.238-3.049-0.762L8.8,26.9
					    c-0.925-1.495-0.477-2.571,0.106-3.109l0.583-0.045c0.135-0.224,0.852,0.045,1.659,0.493l10.223,8.519l17.486-16.096
					    c0.763-0.717,2.152-1.435,2.646-1.166L42.04,15.9C42.398,16.528,42.8,17.4,41.8,18.4z"></path>
				    </svg>
                </span>
                <div class="multi-arr open">
                    <img src="img/up.png" class="arrow-up" />
                </div>
                <div class="multi" id="{{value}}">

                </div>
              
            </div>
        </div> 

    
     <div class="multi-input-wrap" id="m{{num}}">
         <div class="inp-container" ng-repeat="input in multi_length track by $index">
             <input class="form-input" id="mi{{$index}}" placeholder="{{multi_placeholders[$index]}}" data-index="mp{{$index}}" data-num="{{$index}}" ng-focus="handle_input($event)"/> 
             <div class="multi-prompt" id="mp{{$index}}">
                 <span>{{multi_prompts[$index]}}</span>
             </div>
           
         </div>
     </div>

    </div>
    <div class="right" id="right{{num}}" ng-click="match_pattern()">
        <input type="submit" class="submit" id="s{{num}}" />
        <img class="icon" src="img/arr.png" />
    </div>
    <div class="wrong" id="wrong{{num}}">
        <img class="icon" src="img/cross.png" />
    </div> 


    <div class="check" id="thanx{{num}}">
        <svg version="1.1" id="check{{num}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="75px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
        <path fill="none" stroke="#fff" stroke-linecap="round" stroke-width="5" stroke-miterlimit="5" id="checkmark" d="M41.8,18.4L24.061,35.045l-1.838,1.524c-1,1-2.049,0.238-3.049-0.762L8.8,26.9
					c-0.925-1.495-0.477-2.571,0.106-3.109l0.583-0.045c0.135-0.224,0.852,0.045,1.659,0.493l10.223,8.519l17.486-16.096
					c0.763-0.717,2.152-1.435,2.646-1.166L42.04,15.9C42.398,16.528,42.8,17.4,41.8,18.4z"></path>
				</svg>

        <p class="thanx-p" id="t{{num}}">Thank you!</p>

    </div>

    <label class="switch" id="switch{{num}}">
        <span class="switch-container">

            <label class="radioli">
                <input type="radio" name="check{{num}}" />
                <span class="rad y" id="y{{num}}n{{q}}"></span>
                <span class="input-span">Yes</span>
            </label>


            <label class="radioli">
                <input type="radio" name="check{{num}}" />
                <span class="rad n" id="n{{num}}n{{q}}"></span>
                <span class="input-span">No</span>
            </label>
        </span>
    </label>


    <div class="prompt" id="p{{num}}"><span>{{prompt}}</span></div>

    <div class="input-meter">
        <div class="meter-span" id="span{{num}}"></div>
    </div>  


    <div class="add-inp hideadd" id="ac{{num}}">

        <div class="add-btn plus" id="add{{num}}" ng-click="add_field($event)">
            <img src="img/plus.png" class="icon-visible"/>
        </div> 

        <div class="add-text">
            {{addtext}}
        </div> 
    </div> 



</form> 
